<ion-view view-title="Contact Us">
  <ion-content>
    
    <div class="card">
        
        <div class="item item-divider">
            Location Information
        </div>
         <div class="item item-text-wrap">
             <h3>Our Address</h3>

             <p>121, Clear Water Bay Road</p>
             <p>Clear Water Bay, Kowloon</p>
             <p>    HONG KONG </p>
             <p>
                <i ng-show="isAndroid" class="icon ion-android-call"></i>
             <i ng-show="isIOS" class="icon ion-ios-telephone"></i>: +852 1234 5678 
             </p>
             <p>
                 <i class="icon ion-ios-printer"></i>: +852 8765 4321
            </p>
            <p>
             <i class="icon ion-ios-email">:
                 <a href="mailto:confusion@food.net">confusion@food.net</a>
             </i>
            </p>
        </div>
       
      <div class="button-bar">
          
           
          <a class="button button-positive">
              <i ng-show="isAndroid" class="icon ion-android-call"></i>
              <i ng-show="isIOS" class="icon ion-ios-telephone"></i>  
              Call</a>
            <a class="button icon ion-social-skype button-calm"> Skype</a>
            <a class="button icon ion-ios-email button-balanced"> Email</a>
       </div>
      
        
    </div>
      
      
  </ion-content>
</ion-view>